:root { 
--gray_50_01:#f8f9fa; 
--gray_50_02:#f0f8ff; 
--light_blue_900_99:#00659f99; 
--gray_900_16:#171a1f16; 
--blue_gray_50:#eaecf0; 
--blue_A400:#2e6fe8; 
--red_600:#e82e2e; 
--light_blue_200:#7fc7ff; 
--gray_900_11:#171a1f11; 
--light_blue_100:#b9e5ff; 
--light_blue_500:#15abff; 
--light_blue_400:#2ebae8; 
--deep_purple_100:#d3c1fa; 
--light_blue_900:#00508f; 
--gray_50:#f0f9ff; 
--light_green_900:#37750c; 
--light_blue_900_e5:#00508fe5; 
--green_A700:#17a948; 
--teal_900:#00365f; 
--blue_gray_800:#424856; 
--light_blue_900_a7:#00508fa7; 
--deep_purple_A400:#6d31ed; 
--blue_gray_900:#323743; 
--gray_700:#565d6d; 
--gray_400:#bdc1ca; 
--gray_500:#9095a1; 
--light_blue_900_01:#00659f; 
--red_600_01:#de3b40; 
--light_blue_900_02:#125d95; 
--gray_900:#171a1f; 
--blue_gray_500:#6f7787; 
--light_blue_50:#daefff; 
--gray_300:#dee1e6; 
--gray_500_a7:#9095a1a7; 
--light_blue_900_9e:#00508f9e; 
--gray_300_66:#dee1e666; 
--gray_100:#f3f4f6; 
--gray_900_1c:#171a1f1c; 
--gray_900_1e:#120f281e; 
--light_blue_900_1c:#00508f1c; 
--gray_900_3d:#171a1f3d; 
--cyan_900:#004065; 
--indigo_700:#2148a5; 
--white_A700:#ffffff; 
--light_blue_900_30:#00659f30; 
}